*
{
    font-family: 'Roboto';
}

body
{
    margin:0;
}


.bold {
    font-weight: bold;
    margin-left: 3px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* Header */

header
{
    display: flex;
    width: 100%;
    align-content: center;
    box-shadow: 0px 10px 78px -20px rgba(0,0,0,0.75);
 }
header img
{
    display: flex;
    width: 50%;
    margin : 20px 0 10px 25%;
}

/* Localisation */

.localisation
{
    display: flex;
    width: 100%;
    background-color:  #eaeaea ;
    margin-top:2px;
}

.localisation p
{
    display: flex;
    width: 50%;
    margin-left:35%;
}

.localisation i
{
    position: relative;
    top:17px;
    left:125px;
}

/* Reservation */

.reservation
{
    display: flex;
    background-color: #f6f6f6;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.reservation h1
{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin:30px 0 0 20%;
    align-content: center;
}

.reservation p
{
    display: flex;
    width: 70%;
    margin-left:16%;
    color: #7d7d7d;
}

.reservation input
{
    display: flex;
    width: 50%;
    font-size: 16px;
    align-content: center;
    margin: 10px 0 0 26%;
    border:none;
    color:white;
    padding: 15px 0 15px 0;
    border-radius: 20px;
    margin-bottom: 50px;
    background: linear-gradient(150deg,#FF79DA, #9356DC);
}

/* Fonctionnement */

.fonctionnement h2
{
    margin-left: 20px;
}

.fonctionnement div
{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 0 15px 10%;
    padding:5px 0 5px 40px;
    border:1px solid black;
    border-radius: 20px;
    
}

.fonctionnement p
{
    margin-left: 30px;
}

.fonctionnement i
{
    position:relative;
    top:17px;
    left:-5px;
}

/* Restaurants */

.listerestaurants
{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
    padding-bottom: 20px;
    background-color: #f6f6f6;
    border: solid 1px #f6f6f6;
}

.listerestaurants h2
{
    margin-left: 20px;
}

.listerestaurants a
{
    display: flex;
    margin: 15px 0 10px 20px;
    width: 90%;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
}

.listerestaurants img
{
    position: relative;
    width: 100%;
    max-height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    clip: auto;
    overflow: hidden;
}

.listerestaurants h3
{
    margin: 15px 0 0 15px;
    
}

.listerestaurants p
{
    margin: 5px 0 0 15px;
}

.fa-heart
{
    position: relative;
    top:-40px;
    left:300px;
    font-size: 30px;
}

.fa-heart:hover
{
    color: #9356DC;
}


/* Footer */

.footer
{
    display: flex;
    flex-direction: column;
    background-color:#353535;
    color: white;
}

.footer ul li a
{
    color: white;
}

.footer .fa-utensils
{
    margin-right: 10px;
}

.footer .fa-hands-helping
{
    margin-right: 4px;
}


.footer ul li
{
    margin-bottom:5px;
}


.footer h3
{
    margin: 10px 0 0 40px;
    font-family: 'Shrikhand';
}
